## File Types
*.bak
*.log

## IDEA
/.idea/*
!/.idea/encodings.xml
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/runConfigurations/
!/.idea/vcs.xml
!/.idea/iu_zsh.iml

## VS Code
/.vscode/*

## Custom
/post-zsh/env/*
